<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dashboard.Properties.Settings.HEQUANTRICOSODULIEUConnectionString"
            connectionString="Data Source=DESKTOP-5A6LVJ9;Initial Catalog=HEQUANTRICOSODULIEU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>  